.texto-expediente{
    width:70%;
    margin-top:50px;
    
}

.texto-expediente h1{
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}
hr{
    display:block;
    border-top: 4px solid #009999;
    margin-left:0px;
    margin-top:3px;
    margin-bottom:30px;
    width:100%;
}
.texto-expediente h2{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.texto-expediente p{
    margin-bottom: 100px;
}