.div-noticias-anuncios{
    
}
.div-noticias h1{
    font-size: 22px;
    text-transform: uppercase;
}
.cada-noticia{
    
    width:100%;
    max-width:520px;
    
    padding: 0;
}
.img-lista-news{
    width: 100%;
    height: 50vh;
    min-height:160px;
    max-height:320px;
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    border-radius: 7px;
}
.img-lista-news img{
    width:100%;
    height:100%;
    object-fit: cover;
    
}
.news-info{
    width: 100%;
    margin-top: 7px;

    
}
.news-info h1{
    margin-left:7px;
    font-weight: bold;
    font-size: 20px;
    
}
.news-info a{
    text-transform: uppercase;
    color: #009999;
    font-size:12px;
    margin-left:7px;
    text-decoration: none;
}
.news-info a:hover{
    color:#142248;
}
.news-info p{
    color:gray;
    font-size:10px;
    margin-left:7px;
    margin-top: 10px;
    text-decoration: none;
}