
/* tittulo da página*/
.div-noticias h1{
    font-size: 22px;
    margin-left:2px;
    margin-top:30px;
    text-transform: uppercase;
    margin-bottom: -8px;
}
/* quadro com cada noticia */
.cada-noticia{
    
    width:100%;
    max-width:520px;
    
    
    padding: 0;
}
.linhas-lista{
    width:100%;
    min-width: 240px;
    max-width:480px;
    margin-left:6px;
    border-top: 4px solid #009999;
    border-radius: 7px;
    margin-bottom:50px;
}
/* div imagem da noticia */
.img-lista-news{
    width:100%;
    min-width: 240px;
    max-width:480px;
    height:40vh;
    min-height:200px;
    max-height:320px;
    
    border-radius: 7px;
}
/* imagem da noticia */
.img-lista-news img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 7px;
}
/* info da noticia */
.news-info{
    width:100%;
    min-width: 240px;
    max-width:480px;
    margin-top: 7px;

    
}
/* links da noticia */
.news-info a{
    text-decoration: none;  
}
/* titulo da noticia */
.titulo-lista{
    margin-left:7px;
    font-weight: bold;
    font-size: 20px;
    color:#142248;
}
.titulo-lista:hover{
    color:#009999;
    
}
/* tipo da noticia */
.tipo-lista{
    text-transform: uppercase;
    color: #009999;
    font-size:12px;
    margin-left:7px;
    text-decoration: none;
}
.tipo-lista:hover{
    color:#142248;
}
/* data da noticia */
.data-lista-noticia{
    color:gray;
    font-size:10px;
    margin-left:7px;
    margin-top: 10px;
    text-decoration: none;
}

/* botões da páginas */
.ativ p{
    background:#142248;
    color: white;
   
    
}
.ativ p:hover{
   cursor: default;
   background:#142248;
   color: white;
}
.page-item a{
    color:#142248;
    
}
.page-item a:hover{
    color:#009999;
}


@media screen and (min-width: 992px){
    /* div completa com noticia e anuncio */
    .div-noticias-anuncios{
        display:flex;
        justify-content: space-between;
        
    }

    .div-noticias{
        
        width: 700px;
        text-align: left;
        
    }

    .cada-noticia{
        
        
        margin-left:0px;
    }

    .div-anuncios{
        background-color: white;
        width:340px;
        height:700px;
        margin-top:30px;
    }

    .img-lista-news{
        max-width:600px;
        max-height:380px;
    }

    .linhas-lista{
        max-width:600px;
        max-height:380px;  
    }

    .news-info{
        max-width:600px;
        max-height:380px;     
    }

}